a {
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input:focus, textarea:focus {
  outline: 0;
}
input:focus::placeholder, textarea:focus::placeholder {
  opacity: 0;
}

select:focus, a:focus, button:focus {
  outline: 0;
}

.main_homepage {
  background-image: linear-gradient(#050e1a, #001c41);
  overflow: hidden;
  position: relative;
}
.main_homepage .img_trongdong {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.3;
}

.section_header {
  padding: 25px 0;
}
.section_header .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.section_header .row .logo_item {
  margin-right: auto;
  z-index: 1;
}

.main_menu {
  z-index: 1;
}
.main_menu ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}
.main_menu ul li {
  margin: 0 5px;
}
.main_menu ul li:hover a {
  color: #fc0;
}
.main_menu ul li a {
  padding: 15px;
  color: #fff;
  transition: 0.5s;
}
.main_menu ul li.active a {
  font-weight: bold;
}

.link_search_form {
  margin-left: 25px;
  z-index: 1;
}
.link_search_form:hover {
  cursor: pointer;
}

.slider_homepage .slider_item {
  display: flex !important;
  align-items: center;
  padding: 30px 0;
  overflow: hidden;
}
.slider_homepage .slider_item .content {
  width: 50%;
  float: left;
}
.slider_homepage .slider_item .content h2 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 79px;
  color: #E2BB53;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.slider_homepage .slider_item .content h3 {
  font-family: SVN-Avo;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-transform: uppercase;
}
.slider_homepage .slider_item .content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 15px 0;
}
.slider_homepage .slider_item .img {
  width: 50%;
  float: left;
}
.slider_homepage .slider_item .img img {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
.slider_homepage .slick-next {
  opacity: 0;
  transition: 0.5s;
}
.slider_homepage .slick-prev {
  opacity: 0;
  transition: 0.5s;
}
.slider_homepage .slick-prev:before, .slider_homepage .slick-next:before {
  font-size: 40px;
}
.slider_homepage:hover .slick-next {
  right: 0;
  opacity: 1;
}
.slider_homepage:hover .slick-prev {
  left: 0;
  opacity: 1;
}

.btn_homepage {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.38);
  background: transparent;
  border: none;
  padding: 0;
  transition: 0.5s;
  display: flex;
}
.btn_homepage img {
  margin-left: 20px;
  transition: 0.5s;
}
.btn_homepage:hover {
  padding-left: 10px;
}
.btn_homepage:hover img {
  margin-left: 30px;
}

.title_basic {
  text-align: center;
  padding: 20px 0;
}
.title_basic h2 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 68px;
  position: relative;
  color: #FFFFFF;
}
.title_basic h2:before {
  position: absolute;
  content: "";
  width: 160px;
  height: 2px;
  background: #E2BB53;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider_quatangvip {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 60px 0;
}
.slider_quatangvip .slick-slide {
  margin: 0 12px;
}
.slider_quatangvip .quatang_item {
  width: 32%;
  overflow: hidden;
  border-radius: 15px;
}
.slider_quatangvip .quatang_item .quatang {
  display: block;
  position: relative;
}
.slider_quatangvip .quatang_item .quatang .img {
  width: 100%;
  height: 465px;
  position: relative;
}
.slider_quatangvip .quatang_item .quatang .img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fbcb0e4f, #001b3e);
  top: 100%;
  left: 0;
  transition: 0.7s;
}
.slider_quatangvip .quatang_item .quatang .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.slider_quatangvip .quatang_item .quatang .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.33);
  padding: 25px 15px;
  transition: 0.5s;
}
.slider_quatangvip .quatang_item .quatang .content h2 {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.slider_quatangvip .quatang_item .quatang .content p {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
  transition: 0.5s;
  display: none;
  opacity: 0;
}
.slider_quatangvip .quatang_item .quatang .content p span {
  color: #fecc07;
}
.slider_quatangvip .quatang_item:hover .quatang .img:before {
  opacity: 1;
  top: 0;
  z-index: 1;
}
.slider_quatangvip .quatang_item:hover .quatang .img img {
  transform: scale(1.2);
}
.slider_quatangvip .quatang_item:hover .quatang .content {
  z-index: 1;
  background: transparent;
}
.slider_quatangvip .quatang_item:hover .quatang .content h2 {
  font-weight: bold;
}
.slider_quatangvip .quatang_item:hover .quatang .content p {
  display: block;
  opacity: 1;
}
.slider_quatangvip .slick-next {
  opacity: 0;
  transition: 0.5s;
}
.slider_quatangvip .slick-prev {
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider_quatangvip .slick-prev:before, .slider_quatangvip .slick-next:before {
  font-size: 40px;
}
.slider_quatangvip:hover .slick-next {
  right: 0;
  opacity: 1;
}
.slider_quatangvip:hover .slick-prev {
  left: 0;
  opacity: 1;
}

.btn_xemtatca {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  color: #E2BB53;
  border: 1px solid #E2BB53;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  width: 215px;
  height: 45px;
  background: transparent;
  transition: 0.5s;
}
.btn_xemtatca:hover {
  background: #E2BB53;
  color: #fff;
}

.btn_item {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.slider_quatangdocban {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 60px 0;
}
.slider_quatangdocban .slick-slide {
  margin: 0 12px;
}
.slider_quatangdocban .quatang_item {
  width: 32%;
  overflow: hidden;
  border-radius: 15px;
}
.slider_quatangdocban .quatang_item .quatang {
  display: block;
  position: relative;
}
.slider_quatangdocban .quatang_item .quatang .img {
  width: 100%;
  height: 465px;
  position: relative;
}
.slider_quatangdocban .quatang_item .quatang .img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fbcb0e4f, #001b3e);
  top: 100%;
  left: 0;
  transition: 0.7s;
}
.slider_quatangdocban .quatang_item .quatang .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.slider_quatangdocban .quatang_item .quatang .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.33);
  padding: 25px 15px;
  transition: 0.5s;
}
.slider_quatangdocban .quatang_item .quatang .content h2 {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.slider_quatangdocban .quatang_item .quatang .content p {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
  transition: 0.5s;
  display: none;
  opacity: 0;
}
.slider_quatangdocban .quatang_item .quatang .content p span {
  color: #fecc07;
}
.slider_quatangdocban .quatang_item:hover .quatang .img:before {
  opacity: 1;
  top: 0;
  z-index: 1;
}
.slider_quatangdocban .quatang_item:hover .quatang .img img {
  transform: scale(1.2);
}
.slider_quatangdocban .quatang_item:hover .quatang .content {
  z-index: 1;
  background: transparent;
}
.slider_quatangdocban .quatang_item:hover .quatang .content h2 {
  font-weight: bold;
}
.slider_quatangdocban .quatang_item:hover .quatang .content p {
  display: block;
  opacity: 1;
}
.slider_quatangdocban .slick-next {
  opacity: 0;
  transition: 0.5s;
}
.slider_quatangdocban .slick-prev {
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider_quatangdocban .slick-prev:before, .slider_quatangdocban .slick-next:before {
  font-size: 40px;
}
.slider_quatangdocban:hover .slick-next {
  right: 0;
  opacity: 1;
}
.slider_quatangdocban:hover .slick-prev {
  left: 0;
  opacity: 1;
}

.section_quatangdocban {
  padding-top: 60px;
}

.section_tacphamnoibat {
  position: relative;
  background-image: url(./../img/can.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0;
  padding: 50px 0;
  z-index: 1;
}
.section_tacphamnoibat:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #03152d8a;
  top: 0;
  left: 0;
  z-index: -1;
}
.section_tacphamnoibat .img_tpnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.section_tacphamnoibat .img_tpnb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.section_tacphamnoibat .img_tpnb .xoay1 {
  animation: spin 50s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.element_tpnb {
  width: 100%;
  margin: 50px 0;
}
.element_tpnb .tpnb_main {
  width: 30%;
  overflow: hidden;
  margin: auto;
}
.element_tpnb .tpnb_main img {
  width: 100%;
  height: auto;
}
.element_tpnb .tpnb_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.element_tpnb .tpnb_content .item_content {
  width: 50%;
  color: #fff;
}
.element_tpnb .tpnb_content .item_content .content {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
  width: 50%;
}
.element_tpnb .tpnb_content .item_content .content h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 24px;
}
.element_tpnb .tpnb_content .item_content:nth-child(2n+1) {
  text-align: right;
  padding-right: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.element_tpnb .tpnb_content .item_content:nth-child(2n+1) .img {
  order: 2;
  margin-left: 25px;
}
.element_tpnb .tpnb_content .item_content:nth-child(2n+1) .content {
  order: 1;
}
.element_tpnb .tpnb_content .item_content:nth-child(2n) {
  text-align: left;
  padding-left: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.element_tpnb .tpnb_content .item_content:nth-child(2n) .img {
  order: 1;
  margin-right: 25px;
}
.element_tpnb .tpnb_content .item_content:nth-child(2n) .content {
  order: 2;
}
.element_tpnb .tpnb_content .item_content:nth-child(3) {
  padding-right: 18%;
}
.element_tpnb .tpnb_content .item_content:nth-child(4) {
  padding-left: 18%;
}

.element_listtin {
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.element_listtin .item_new {
  width: 32%;
  overflow: hidden;
  margin: 15px 0;
}
.element_listtin .item_new:hover .img img {
  transform: scale(1.2);
}
.element_listtin .item_new:hover .content {
  color: #fff;
}
.element_listtin .item_new .img {
  display: block;
  width: 100%;
  height: 272px;
  border-radius: 10px;
  overflow: hidden;
}
.element_listtin .item_new .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.element_listtin .item_new .content {
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 15px;
  overflow: hidden;
  color: #E2BB53;
  transition: 0.5s;
}

.slider_cnkh {
  margin: 50px 0;
}
.slider_cnkh .slider_item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  overflow: hidden;
}
.slider_cnkh .slider_item .content {
  width: 50%;
  float: left;
  padding-left: 30px;
}
.slider_cnkh .slider_item .content h2 {
  font-family: UTM Aquarelle;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 43px;
  color: #FFFFFF;
  overflow: hidden;
}
.slider_cnkh .slider_item .content h2 span {
  position: relative;
}
.slider_cnkh .slider_item .content h2 span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #E2BB53;
  right: -110%;
  bottom: 15px;
}
.slider_cnkh .slider_item .content h3 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 68px;
  color: #FFFFFF;
}
.slider_cnkh .slider_item .content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 128.17%;
  color: #FFFFFF;
}
.slider_cnkh .slider_item .img {
  width: 292px;
  float: left;
  height: 292px;
  overflow: hidden;
  background: #fff;
  border-radius: 100%;
  float: left;
  border: 2px solid #fff;
}
.slider_cnkh .slider_item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.slider_cnkh .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
  font-size: 15px;
}
.slider_cnkh .slick-dots li button:before {
  font-size: 15px;
  color: #fff;
}

.section_camnhankhachhang {
  padding: 50px 0;
}

.section_contact {
  margin-top: 50px;
}

.element_contact {
  background-image: url(./../img/bgcontact.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.element_contact .info_contact {
  text-align: center;
  padding-top: 50px;
}
.element_contact .info_contact p {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  margin: 15px 0;
}
.element_contact .info_contact strong a {
  font-weight: bold;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #FFFFFF;
}
.element_contact .form_contact {
  width: 50%;
  background: #fff;
  margin: 50px auto;
  margin-bottom: 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
.element_contact .form_contact form h2 {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E2BB53;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 25px 0;
}
.element_contact .form_contact form .content_item {
  width: 85%;
  margin: auto;
  padding: 60px 0;
  text-align: center;
}
.element_contact .form_contact form .content_item input {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 0 15px;
  margin: 10px 0;
  border: none;
}
.element_contact .form_contact form .content_item input::placeholder {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #BBBBBB;
}
.element_contact .form_contact form .content_item textarea {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 150px;
  padding: 15px;
  margin: 10px 0;
  border: none;
}
.element_contact .form_contact form .content_item textarea::placeholder {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #BBBBBB;
}
.element_contact .form_contact form .content_item .btn_dangki {
  width: 35%;
  border: none;
  padding: 0;
  height: 45px;
  background: #E2BB53;
  border-radius: 22.5px;
  margin: 5px auto;
  text-align: center;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section_footer {
  width: 100%;
  padding: 70px 0 0 0;
  background: #050E1A;
  /*background-image: url(./../img/bgft1.png);
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;*/
  /*&:before {
  	position: absolute;
  	content: url(./../img/bgft1.png);
  	bottom: 0;
  	left: 50%;
  	transform: translate(-50% , 0);
  }*/
}
.section_footer .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.section_footer .item_footer {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 33.3333%;
  padding-bottom: 30px;
  z-index: 1;
}
.section_footer .item_footer > a {
  margin-bottom: 25px;
  display: block;
  width: 100%;
}
.section_footer .item_footer > h3 {
  margin: 20px 0;
}
.section_footer .item_footer > h2 {
  margin-bottom: 20px;
}
.section_footer .item_footer a {
  color: #FFFFFF;
  transition: 0.5s;
}
.section_footer .item_footer a:hover {
  color: #ffcc00;
}
.section_footer .item_footer:last-child {
  width: 100%;
  text-align: center;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 20px 0;
  border-top: 1px solid #ffffff85;
}
.section_footer .item_footer:nth-child(2), .section_footer .item_footer:nth-child(3) {
  padding-top: 27px;
}
.section_footer .item_footer:nth-child(2) {
  padding-left: 50px;
}
.section_footer .item_footer:nth-child(2) p {
  position: relative;
  padding-left: 15px;
}
.section_footer .item_footer:nth-child(2) p:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotateZ(45deg);
  top: 11px;
  left: 0;
  transition: 0.5s;
}
.section_footer .item_footer:nth-child(2) p:hover {
  padding-left: 25px;
}
.section_footer .item_footer:nth-child(2) p:hover:before {
  border-top: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  left: 10px;
}
.section_footer .item_footer:nth-child(2) p:hover a {
  color: #ffcc00;
}

.icon-link {
  position: fixed;
  right: 5%;
  outline: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  background: #050e1a;
  border-radius: 50%;
}

.icon-link img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backtotop {
  bottom: 100px;
}