a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input:focus, textarea:focus {
  outline: 0;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 0;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  opacity: 0;
}
input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
input:focus::placeholder, textarea:focus::placeholder {
  opacity: 0;
}

select:focus, a:focus, button:focus {
  outline: 0;
}

@font-face {
  src: url("../fonts/SVN-Poppins-Medium.ttf");
  font-family: Poppins;
}
@font-face {
  src: url("../fonts/SVN-Poppins-Bold.ttf");
  font-family: Poppins-bold;
}
@font-face {
  src: url("../fonts/SVN-Poppins-Regular.ttf");
  font-family: Poppins-regular;
}
body {
  font-family: Poppins;
}

.section_header.active_child_page .header_pc {
  background: #002e40f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  z-index: 100;
}
.section_header.active_child_page .header_pc .logo_page {
  width: auto;
}
.section_header.active_child_page .header_pc .menu_page {
  width: auto;
  padding: 0;
}
.section_header.active_child_page .header_pc .boxlinkpage {
  position: initial;
  right: inherit;
  top: inherit;
}
.section_header.active_child_page .header_pc .item_submenu {
  top: 70px !important;
}

.header_pc {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}
.header_pc .boxlinkpage {
  position: absolute;
  right: 100px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_pc .boxlinkpage .form_item {
  position: relative;
}
.header_pc .boxlinkpage .form_item .search_hp {
  display: none;
  position: relative;
  position: absolute;
  right: 0;
  top: 30px;
}
.header_pc .boxlinkpage .form_item .search_hp .btn_search {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #1a5d78;
  border: none;
  height: 35px;
  width: 35px;
}
.header_pc .boxlinkpage .form_item .search_hp input {
  height: 35px;
  padding: 0 10px;
}
.header_pc .boxlinkpage .form_item:hover {
  cursor: pointer;
}
.header_pc .boxlinkpage .form_item.active .search_hp {
  display: block;
}
.header_pc .boxlinkpage > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}
.header_pc .boxlinkpage > span img {
  width: 15px;
  height: 15px;
}
.header_pc .boxlinkpage > span p {
  color: #fff;
  margin-left: 10px;
}

.logo_page {
  width: 100%;
  display: block;
  padding: 15px 0;
}
.logo_page img {
  max-width: 100%;
}

.menu_page {
  width: 100%;
  padding: 20px 0 0 0;
}
.menu_page .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_page .main_menu li {
  margin: 0 10px;
  position: static;
}
.menu_page .main_menu li a {
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
}
.menu_page .main_menu li a:hover {
  border-bottom: 1px solid #fff;
}
.menu_page .main_menu li:hover .item_submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 140px;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu_page .main_menu li .item_submenu {
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  top: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
}
.menu_page .main_menu li .item_submenu .item {
  width: 23%;
}
.menu_page .main_menu li .item_submenu .item h2 {
  font-size: 18px;
  padding: 15px;
  border-bottom: 1px solid #939393;
}
.menu_page .main_menu li .item_submenu .item a {
  color: #002e40;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.section_header.active .header_pc {
  background: #002e40f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  z-index: 100;
}
.section_header.active .header_pc .logo_page {
  width: auto;
}
.section_header.active .header_pc .menu_page {
  width: auto;
  padding: 0;
}
.section_header.active .header_pc .boxlinkpage {
  position: initial;
  right: inherit;
  top: inherit;
}
.section_header.active .header_pc .item_submenu {
  top: 70px !important;
}

.slider_banner {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}
.slider_banner .item {
  width: 100px;
  height: 840px;
  overflow: hidden;
}
.slider_banner .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider_banner .slick-dots {
  bottom: 25px;
}
.slider_banner .slick-dots li button:before, .slider_banner .slick-dots li.slick-active button:before {
  font-size: 15px;
  color: #ffcc00;
}

.slider_banner.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.section_list_products {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_list_products .item_product {
  width: 49.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
}
.section_list_products .item_product:nth-child(1) {
  background: #0c131d;
}
.section_list_products .item_product:nth-child(2) {
  background: #731e21;
}
.section_list_products .item_product:nth-child(3) {
  background: #9b7350;
}
.section_list_products .item_product:nth-child(4) {
  background: #4a657a;
}
.section_list_products .item_product .img {
  width: 50%;
  overflow: hidden;
}
.section_list_products .item_product .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_list_products .item_product .content {
  width: 50%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 30px;
}
.section_list_products .item_product .content h2 {
  font-size: 36px;
  font-family: Time;
}
.section_list_products .item_product .content .depscription {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Poppins-regular;
}
.section_list_products .item_product .content .btn_discover {
  padding: 14px 35px;
  color: #fff;
  border-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
}

.section_list_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_list_page .item_page {
  width: 49.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
  position: relative;
}
.section_list_page .item_page .img {
  width: 100%;
}
.section_list_page .item_page .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_list_page .item_page .content {
  background: #0000006b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 18%;
}
.section_list_page .item_page .content h2 {
  font-size: 36px;
  font-family: Time;
}
.section_list_page .item_page .content .depscription {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section_list_page .item_page .content .btn_discover1 {
  padding: 14px 35px;
  color: #fff;
  font-size: 16px;
}
.section_list_page .item_page .content .btn_discover1 img {
  width: 25px;
  margin-left: 15px;
}

.section_footer {
  background: #002e40;
  color: #fff;
  padding: 80px 0 15px 0;
}
.section_footer a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.section_footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_footer .item_footer {
  width: 20%;
}
.section_footer .item_footer p {
  font-family: "Open Sans", sans-serif;
}
.section_footer .item_footer:nth-child(1) {
  width: 40%;
  padding-right: 30px;
}
.section_footer .item_footer:nth-child(1) p {
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 8px;
}
.section_footer .item_footer:last-child {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
.section_footer .item_footer:last-child p {
  font-size: 14px;
  padding: 15px 0 0 0;
  border-top: 1px solid #fff;
}
.section_footer .item_footer:nth-child(4) a {
  display: block;
  width: 45px;
  float: left;
  margin-right: 15px;
}
.section_footer .item_footer:nth-child(4) a img {
  width: 100%;
}
.section_footer .item_footer ul li {
  margin-bottom: 8px;
}
.section_footer .item_footer ul li a {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.section_footer .item_footer ul li h2 {
  font-size: 16px;
  text-transform: uppercase;
}
.section_footer .item_footer ul li .form_footer {
  width: 90%;
  float: left;
  position: relative;
}
.section_footer .item_footer ul li .form_footer input {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #fff;
}
.section_footer .item_footer ul li .form_footer input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.section_footer .item_footer ul li .form_footer input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
}
.section_footer .item_footer ul li .form_footer input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.section_footer .item_footer ul li .form_footer input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.section_footer .item_footer ul li .form_footer input::placeholder {
  color: #fff;
  font-size: 14px;
}
.section_footer .item_footer ul li .form_footer .btn_form_ft {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: none;
  height: 40px;
  border-radius: 0 50px 50px 0;
  padding: 0 25px;
  background: white;
  color: #002e40;
  font-size: 14px;
  font-weight: bold;
}

.icon-link {
  position: fixed;
  right: 5%;
  outline: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  background: #050e1a;
  border-radius: 50%;
  bottom: 100px;
}
.icon-link img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item_product .img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.item_product:hover .img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.item_product:hover .btn_discover {
  color: #002e40 !important;
  font-weight: bold;
  background: #fff;
}
.item_product .btn_discover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item_page .img {
  overflow: hidden;
}
.item_page .img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.item_page:hover .img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#circlr, #circlr1, #circlr2, #circlr3 {
  cursor: move;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}

.section_list_product {
  width: 100%;
  overflow: hidden;
  padding-top: 150px;
}
.section_list_product h2 {
  text-align: center;
  font-size: 48px;
  margin: 0;
  line-height: 1;
}
.section_list_product .element_list_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 60px 0;
  padding: 60px 0;
  border-top: 1px dashed #000;
}
.section_list_product .element_list_product .product_item {
  width: 25%;
  padding: 25px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section_list_product .element_list_product .product_item:hover {
  -webkit-box-shadow: 1px 5px 15px #006ba114;
          box-shadow: 1px 5px 15px #006ba114;
  z-index: 1;
}
.section_list_product .element_list_product .product_item .img_product {
  width: 100%;
  overflow: hidden;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_list_product .element_list_product .product_item .img_product #circlr {
  width: 100%;
}
.section_list_product .element_list_product .product_item .info_product {
  width: 100%;
  text-align: center;
}
.section_list_product .element_list_product .product_item .info_product label {
  background-color: #006ba1;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: normal;
  width: auto;
  margin: 0 auto;
}
.section_list_product .element_list_product .product_item .info_product a {
  text-transform: uppercase;
  padding: 9px 0 4px;
  margin: 0;
  font-size: 1em;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: block;
  color: #000;
  padding: 0;
  margin: 10px 0;
}
.section_list_product .element_list_product .product_item .info_product .btn_cart {
  text-transform: inherit;
  margin-top: 1em;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#1d6684), color-stop(#1b607c), to(#185973));
  background: linear-gradient(0deg, #1d6684, #1b607c, #185973);
  border-radius: 20px;
  color: #fff;
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 300;
  position: relative;
  font-family: "Open Sans", sans-serif;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 150px;
}
.section_list_product .element_list_product .product_item .info_product .btn_cart:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#185973), color-stop(#1b607c), to(#1d6684));
  background: linear-gradient(0deg, #185973, #1b607c, #1d6684);
}